@model HRProjectBoost.DTOs.DTOs.Allowance.AllowanceDto
@{
    ViewData["Title"] = "GetAllowanceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllowanceList</h1>

<table>
    <tr>
        <td></td>
    </tr>
</table>

